<form method="POST" action="/analyseSentiment" enctype="multipart/form-data">
    <div>
        <label>
            ACM Coding Challange
            <br>
        </label>
        <label>
            Submission by: Pranjal Upadhyay, 
            <br>
            Student ID: 2021607537, 
            <br>
            Email Id: pxu210002@utdallas.edu
            <br>
            <br>

        </label>
       
    </div>
    <div>
        <input type="file" name="uploadedTextFile" />
    </div>
    <br>
    <div>
        <input type="submit" name="goToSentimentAnalysisFunction" value="Analyse Sentiment" />
    </div>
</form>

